<section class="container" >
  <form class="form" (ngSubmit)="sendTransfer()">
    <h2 class="form__title">New Transfer</h2>

    <div class="form-field">
      <label class="form-field__label" for="value">How Much</label>
      <input
        class="form-field__input"
        placeholder="Please, type the value here."
        id="value"
        type="number"
        [(ngModel)]="value"
        name="value"
      />
    </div>

    <div class="form-field">
      <label class="form-field__label" for="destination_account">Destination Account</label>
      <input
        class="form-field__input"
        placeholder="Please, type the beneficiary's account"
        id="destination_account"
        type="text"
        [(ngModel)]="destination_account"
        name="destination_account"
      />
    </div>

    <div class="button-wrapper">
      <button class="button" type="submit">Send</button>
      <a class="button" routerLink="/transfers">My Transfers</a>
    </div>
  </form>
</section>
