<section class="container">
  <h2 class="container__title">Transfers</h2>
  <table class="table">
    <thead class="table__header">
      <th class="table__header__content">Date</th>
      <th class="table__header__content">Value</th>
      <th class="table__header__content">Destination Account</th>
    </thead>
    <tbody *ngIf="transfers?.length > 0; else emptyList">
      <tr class="table__line" *ngFor="let t of transfers">
        <td class="table__content">
          {{ t.date | date: "short" }}
        </td>
        <td class="table__content">{{ t.value | currency }}</td>
        <td class="table__content">{{ t.destination_account }}</td>
      </tr>
    </tbody>
  </table>
  <a class="button" routerLink="/make-transfer">New transfer</a>
  <ng-template #emptyList>
    <p>You don't have any transfer</p>
  </ng-template>
</section>
